/** Using a Tetradic scheme **/
/**
  Green: #25f93e
  Orange: #f9a825
  Blue: #2576f9
  Pink: #f925e0
 */
 html{scroll-behavior: smooth;}
 body{margin: 0px;}
 h1,h2,h3,h4,h5,h6{
   font-family: 'Heebo', sans-serif;
 }
 a,p,li{
   font-family: 'Lato', sans-serif;
   font-size: 20px;
   text-decoration: none;
   font-weight: 400;
 }
 
 /* Header */
 header {
    display: flex;
    align-items: center;
    height: 125px;
 }

 header div:nth-child(1) {
    flex-grow: 1;
    height: 110px;
 }

 header div:nth-child(1) a img {
    height: 100%;
 }

 /* menu */
 header input + label {
    position: fixed;
    top: 55px;
    right: 40px;
    height: 20px;
    width: 25px;
    z-index: 5;
 }

 header input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    transition: 0.5s;
    background: #0e0e0e;
 }

 header input + label span:first-child {
    top: 3px;
 }

 header input + label span:last-child {
    top: 16px;
 }

 header label:hover {
    cursor: pointer;
 }

 header input:checked + label span {
    opacity: 0;
    top: 50%;
    color: #0e0e0e;
 }

 header input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
 }

 header input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
 }

 header input ~nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    padding: 15px;
 }

 header input ~nav > menu {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    list-style: none;
 }

 header input ~nav > menu > li{
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
 }

 header input ~nav > menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0e0e0e;
    font-weight: bold;
    display: block;
    padding: 30px;
 }

 header input ~ nav > menu > li > a:hover {
    color: #f9a825;
 }

 header input:checked ~nav {
    height: 100%;
    transition-delay: 0;
 }

 header input:checked ~nav > menu > li {
    opacity: 1;
    transition-delay: 0.5s;
 }

 .hero {
    height: 100vh;
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }

 .hero div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
 }

 .hero div h1 {
    font-size: 92px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    letter-spacing: 2.5px;
 }

 .hero div h1 span {
    color: #f9a825;
    margin-right: 0.25em;
 }

 .cta1 {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    color: #f4f4f4;
 }

 .cta1 div {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

 .cta1 div:nth-child(1) {
    background-image: url("../img/img1.jpg");
    background-size: cover;
 }

 .cta1 div:nth-child(2) {
    background-image: url("../img/img2.jpg");
    background-size: cover;
 }

 .cta1 div:nth-child(3) {
    background-image: url("../img/img3.jpg");
    background-size: cover;
 }

 .cta1 .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(37, 249, 62, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: all 0.25s linear;
 }

 .cta1 .mask:hover {
    opacity: 1;
 }

 .cta1 i {
    font-size: 92px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .cta1 h3 {
    font-size: 42px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
 }

 .btn1 {
    border: 3px solid #f4f4f4;
    padding: 15px 50px;
    border-radius: 15px;
    color: #0e0e0e;
    background-color: #f4f4f4;
    font-weight: 600;
    transition: all 0.25s linear;
 }

 .btn1:hover {
    background-color: rgba(37, 249, 62, 0);
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f4f4f4
 }

 .pagination {
    padding: 10%;
 }

 .pagination-container {
    text-align: center;
 }

 .pagination-container a {
    color: #0e0e0e;
    padding: 25px;
    border-bottom: 4px solid #2576f9;
    transition: all 0.25s ease-in-out;
 }

 .pagination-container a:hover {
    outline: solid 4px #2576f9;
    border-bottom: solid 0px #2576f9;
 }